@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

:root {
  --title-subtitle-color: #7e7e7e;
  --title-font-size: 2.5rem;
  --second-title-font-size: 1.75rem;
  --subtitle-font-size: 1rem;
  --second-subtitle-font-size-mobile: .9rem;
  --second-subtitle-font-size: 1.25rem;
  --hr-color: rgba(255, 255, 255, .25);
  --color-font: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('./assets/images/app-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-font);
  font-family: 'Fredoka', sans-serif;
  height: 100vh;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance:textfield;
}

.App {
  max-width: 992px;
  margin: auto;
}

.info-section {
  background: rgba(231, 32, 90, .3);
  width: 90%;
  margin: 2rem auto;
  padding: 2rem 1rem;
  border-radius: .5rem;
}

.info-section.loading .spinner {
  width: 30px;
  height: 30px;
}

.info-section.error .error {
  text-align: center;
}

@media (min-width: 992px) {
  .info-section {
    width: 100%;
  }
}